.git/
.idea/
.env
.coverage
*.mo
venv/
# Double asterisk ignoreing any folder, see https://stackoverflow.com/q/33434190/11277611
**/__pycache__/* 
logs/
flow_samples/
db_backups
*pkl
**telethon_auth_cache.session*

!/deploy/.env  # softlink
!/deploy/systemd_service/.env  # softlink

