[Unit]
Description=Rubik tg bot
After=network.target multi-user.target default.target

[Service]
WorkingDirectory=/home/david/PycharmProjects/rubik_tg_bot
ExecStart=/home/david/PycharmProjects/rubik_tg_bot/deploy/systemd_service/start.sh  # abs path requried despite the workdir
Type=idle
Restart=on-failure


[Install]
WantedBy=default.target multi-user.target
